FlightRouteClient/Client/Service References/FlightService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GraphLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GraphLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FlightService/FlightService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseLayer" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FlightService/FlightService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ControlLayer" />
  <xs:complexType name="ArrayOfVertex">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vertex" nillable="true" type="tns:Vertex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVertex" nillable="true" type="tns:ArrayOfVertex" />
  <xs:complexType name="Vertex">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistanceFromStart" type="xs:double" />
      <xs:element minOccurs="0" name="EdgeToUse" nillable="true" type="tns:Edge" />
      <xs:element minOccurs="0" name="PrevVertex" nillable="true" type="tns:Vertex" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DatabaseLayer" minOccurs="0" name="airport" nillable="true" type="q1:Airport" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="edges" nillable="true" type="tns:ArrayOfEdge" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ControlLayer" minOccurs="0" name="flightCtr" nillable="true" type="q2:FlightCtr" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DatabaseLayer" minOccurs="0" name="flightsFromAiport" nillable="true" type="q3:ArrayOfFlight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vertex" nillable="true" type="tns:Vertex" />
  <xs:complexType name="Edge">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" nillable="true" type="tns:Vertex" />
      <xs:element minOccurs="0" name="To" nillable="true" type="tns:Vertex" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DatabaseLayer" minOccurs="0" name="VertexEdge" nillable="true" type="q4:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Edge" nillable="true" type="tns:Edge" />
  <xs:complexType name="ArrayOfEdge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Edge" nillable="true" type="tns:Edge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEdge" nillable="true" type="tns:ArrayOfEdge" />
</xs:schema>