trunk/FlightRouteWebsite/App_WebReferences/FlightServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAirplane">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Airplane" nillable="true" type="tns:Airplane" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirplane" nillable="true" type="tns:ArrayOfAirplane" />
  <xs:complexType name="Airplane">
    <xs:sequence>
      <xs:element minOccurs="0" name="airplaneID" type="xs:int" />
      <xs:element minOccurs="0" name="seats" type="xs:int" />
      <xs:element minOccurs="0" name="Flights" nillable="true" type="tns:ArrayOfFlight">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Airplane" nillable="true" type="tns:Airplane" />
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="flightID" type="xs:int" />
      <xs:element minOccurs="0" name="timeOfDeparture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timeOfArrival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="traveltime" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="from" type="xs:int" />
      <xs:element minOccurs="0" name="to" type="xs:int" />
      <xs:element minOccurs="0" name="airplaneID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="takenSeats" type="xs:int" />
      <xs:element minOccurs="0" name="BookingFlights" nillable="true" type="tns:ArrayOfBookingFlight">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="ArrayOfBookingFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingFlight" nillable="true" type="tns:BookingFlight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingFlight" nillable="true" type="tns:ArrayOfBookingFlight" />
  <xs:complexType name="BookingFlight">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookingID" type="xs:int" />
      <xs:element minOccurs="0" name="flightID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingFlight" nillable="true" type="tns:BookingFlight" />
  <xs:complexType name="ArrayOfAirport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Airport" nillable="true" type="tns:Airport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirport" nillable="true" type="tns:ArrayOfAirport" />
  <xs:complexType name="Airport">
    <xs:sequence>
      <xs:element minOccurs="0" name="airportID" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flights" nillable="true" type="tns:ArrayOfFlight">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Flights1" nillable="true" type="tns:ArrayOfFlight">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Airport" nillable="true" type="tns:Airport" />
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookingID" type="xs:int" />
      <xs:element minOccurs="0" name="totalTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="BookingFlights" nillable="true" type="tns:ArrayOfBookingFlight">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BookingPassengers" nillable="true" type="tns:ArrayOfBookingPassenger">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="ArrayOfBookingPassenger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingPassenger" nillable="true" type="tns:BookingPassenger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingPassenger" nillable="true" type="tns:ArrayOfBookingPassenger" />
  <xs:complexType name="BookingPassenger">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookingID" type="xs:int" />
      <xs:element minOccurs="0" name="personID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingPassenger" nillable="true" type="tns:BookingPassenger" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="personID" type="xs:int" />
      <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
      <xs:element minOccurs="0" name="BookingPassengers" nillable="true" type="tns:ArrayOfBookingPassenger">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
</xs:schema>